name: "Hello"

on:
  workflow_dispatch:
  push:
    branches:
      [master]

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          name: "Leonardo"
